<!DOCTYPE html>
<html lang="en">
	<%- include('../pages/_head') %>
	<body class="bg-dark">
		<section class="container">
			<main>
				<div class="d-flex align-items-center justify-content-center">
					<form method="POST" action="queue" class="bg-light rounded py-5 px-5">
						<div class="mb-1">
							<label for="name" class="form-label">
								What is your name:
								<input
									type="text"
									name="name"
									class="form-control mt-1"
									placeholder="type here"
									autocomplete="off"
								/>
							</label>
						</div>
						<div class="mb-3">
							<label for="name" class="form-label">
								What is your email:
								<input
									type="email"
									name="name"
									class="form-control mt-1"
									placeholder="type here"
									autocomplete="off"
								/>
							</label>
						</div>
						<button type="submit" class="btn btn-primary col-12">OK</button>
					</form>
				</div>
			</main>
		</section>

		<!-- <script type="module" src="../javascript/home/main.js"></script> -->
	</body>
</html>
