<!DOCTYPE html>
<html lang="en">
	<%- include('../pages/_head') %>
	<body class="bg-dark">
		<section class="container">
			<main>
				<div class="d-flex align-items-center justify-content-center">
					<form method="POST" action="queue" class="bg-light rounded py-5 px-5">
						<div class="mb-1">
							<label for="name" class="form-label">
								What is your name:
								<input
									type="text"
									name="name"
									class="form-control mt-1"
									placeholder="type your name here"
									autocomplete="off"
									required
								/>
							</label>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">
								What is your email:
								<input
									type="email"
									name="email"
									class="form-control mt-1"
									placeholder="type your email here"
									autocomplete="off"
									required
								/>
							</label>
						</div>
						<button type="submit" class="btn btn-primary col-12">OK</button>
					</form>
				</div>
			</main>
		</section>
		<script>
			function superAlert(title, text) {
				Swal.fire({
					icon: 'error',
					title: title,
					text: text,
				});
			}

			const params = new URLSearchParams(window.location.search);
			if (params.get('error') === 'invalid-email') superAlert('Oops...', 'Sorry input email is not empty!');
			if (params.get('error') === 'invalid-name') superAlert('Oops...', 'Sorry input name is not empty!');
		</script>
	</body>
</html>
