<!DOCTYPE html>
<html lang="en">
	<%- include('../pages/_head') %>
	<body>
		<section>
			<main>
				<div>
					<form method="POST" action="queue">
						<label for="name">
							What is your name:
							<input type="text" name="name" placeholder="type here" />
						</label>
						<button type="submit">OK</button>
					</form>
				</div>
			</main>
		</section>

		<!-- <script type="module" src="../javascript/home/main.js"></script> -->
	</body>
</html>
