<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../style/css/queueStyle.css" />
		<title>Queue client</title>
	</head>
	<body>
		<section>
			<div>
				<span id="clock"></span>
				<span id="serving"></span>
			</div>
		</section>

		<script src="http://localhost:3333/socket.io/socket.io.js"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script type="module" src="../javascript/client/main.js"></script>
	</body>
</html>
