<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/css/queueAdmin.css">
    <title>Admin</title>
</head>
<body>
    <section id="queue">
        <div class="queue-painel">
            <div id="list-num"></div>
            <button id=next>CALL NEXT CLIENT</button>
        </div>
        <div class="queue-list">
            <div>
                <img src="../style/svg/refresh.svg" alt="Refresh" id="refresh">
                <h1>CLIENTS LIST</h1>
            </div>
            <ul id="list"></ul>
        </div>
    </section>

    <script src="http://localhost:3333/socket.io/socket.io.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../javascript/admin/main.js"></script>
</body>
</html>