:root {
	--bg-coolor: #3d405b;
	--button-collor: #81b29a;
	--button-shedow-collor: #81b29a96;
	--main-collor: #e07a5f;
	--main-shedow-collor: #e07b5f56;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: 'Ubuntu', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-coolor);
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

section main {
	background-color: var(--main-collor);
	height: 100%;
	width: 100%;
	box-shadow: 4px 4px var(--main-shedow-collor);

	display: flex;
	justify-content: center;
	align-items: center;
}

section main div,
section main label {
	display: flex;
	flex-direction: column;
}

section div input {
	height: 30px;
	margin: 10px 0;
	padding-left: 10px;
	outline: none;
}

section button {
	margin: 0;
	border: 0;
	height: 40px;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
	background-color: var(--button-collor);
}

@media (min-width: 600px) {
	section main {
		height: auto;
		width: auto;
		padding: 30px;
	}
}
