* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

section {
    width: 100vw;
    height: 100vh; 

    display: flex;
    justify-content: center;
    align-items: center;
}

section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section div span {
    font-weight: bold;
    font-size: 10rem;
}

section div span:first-child {
    font-size: 6rem;
}