* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

ul, li { list-style: none; }

section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section .queue-painel button {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}
#queue .queue-painel div {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#queue .queue-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#queue .queue-list div {
    display: flex;
}

#queue .queue-list img {
    width: 30px;  
    margin-right: 30px;
    cursor: pointer;
}

#queue .queue-list li {
    display: flex;
    margin: 5px 0px;
}

#queue .queue-list span {
    color: white;
}

#queue .queue-list span:first-child {
    width: 300px;
    border-radius: 5px 0 0 5px;
    background-color: tomato;
    padding: 6px;
}
#queue .queue-list span:last-child {
    width: 50%;
    border-radius: 0 5px 5px 0;
    background: yellowgreen;
    padding: 6px;
}